@font-face {
    font-family: "my font";
    src: url("fonts/BlackOpsOne-Regular.ttf");
}

strong {
    font-family: "my font", sans-serif;
    color: rgb(255, 102, 0);
}


a {
    text-decoration: none;
}

a:visited {
    color: black;
}   

p {
    line-height: 1.8;
    font-size: 20px;
}

hr{
    width: 100%;
    height: 5px;
    border: 0;
    background-color: rgb(255, 153, 0);
}

body{
    width: 60%;
    margin: auto;
    background-color: rgba(131, 131, 131, 0.116);
    background-image: url("img/duck_background.png");
}

h2, h3 {
    color: rgb(255, 102, 0);
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu {
    padding: 20px 10px;
    top: 0;
    position: fixed;
    width: 100%;
    left: 0;
    background-color: rgba(131, 131, 131, 0.773);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.448);
}

.menu a{
    font-size: 40px;
    background-color: rgb(255, 153, 0);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 3%;
}

.menu a:hover {
    background-color: rgb(255, 102, 0);
}

.container {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    padding-top: 80px;
    padding-bottom: 50px;
}

#title_main {
    font-family: "my font", sans-serif;
    font-size: 60px;
    color: rgb(255, 102, 0);
}

#description_title {
    font-size: 20px;
    margin-bottom: 50px;
    font-size: 22px;
}

#duck-logo {
    left: 20px;
    position: absolute;
}

.image-gallery a {
    border: 10px solid rgb(255, 102, 0);
    display: inline-block;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.448);
}

.contact-instructions {
    text-align: left;
    padding: 0px 20px;
    width: 40%;
}

.contact-form input {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 102, 0);

}

.contact-form label {
    font-size: 18px;
    font-weight: bold;
    font-family: "my font", sans-serif;
    color: rgb(255, 102, 0);}


#comment-label {
    width: 80%;
    height: 100px;
    resize: none;
    border-radius: 10px;
    border: 1px solid rgb(255, 102, 0);
}

.contact-button {
    background-color: rgb(255, 102, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}